@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body{
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
}

a:hover {
  @apply text-primary
}

.animate, a, a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul#footerList{
  @apply text-gray-400
}
h6{
  @apply text-primary
}